<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="default-layout" value="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString}"/>

  <!-- define various log targets -->
  <targets async="true">
    
    <target xsi:type="ColoredConsole" name="console" layout="${default-layout}"/> 
    <target xsi:type="File" name="file"
            layout="${default-layout}"
            fileName="${basedir}/logs/all.${shortdate}.log"/>
    />
    <target xsi:type="File" name="errorsfile"
            layout="${default-layout}"
            fileName="${basedir}/logs/errors.${shortdate}.log"/>
    />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="errorsfile" />
    
  </rules>
</nlog>