<?xml version="1.0" encoding="utf-8"?>

<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Smtp">
    <Parameter Name="Host" Value="" />
    <Parameter Name="Port" Value="" />
    <Parameter Name="UserName" Value="" />
    <Parameter Name="Password" Value="" />
    <Parameter Name="UseTls" Value="false" />
  </Section>
  <Section Name="EmailNotification">
    <Parameter Name="ArcadiaAssistantFrom" Value="" />
  </Section>
  <Section Name="Logging">
    <Parameter Name="ApplicationInsightsKey" Value="" />
  </Section>
</Settings>