@model Arcadia.Assistant.Web.Models.HomeViewModel

<div>
    <a href="itms-services://?action=download-manifest&url=@Model.ManifestLink">
        <img src="~/Content/download_ios.png" alt="Download for iOS" />
    </a>
</div>
<div class="another-application">
    @Html.ActionLink("Not an iOS?", "DownloadForAndroid")
</div>