<div>
    <a href="@Url.Action("GetAndroid")">
        <img src="~/Content/download_android.png" alt="Download for Android" />
    </a>
</div>
<div class="another-application">
    @Html.ActionLink("Not an Android?", "DownloadForIos")
</div>