@model Arcadia.Assistant.Web.Models.HomeViewModel

<div>
    @Html.ActionLink("Download for Android", "GetAndroid")
</div>
<div>
    <a href="itms-services://?action=download-manifest&url=@Model.ManifestLink">Download for iOS</a>
</div>