@using ApplicationType = Arcadia.Assistant.Web.Controllers.DownloadWebController.ApplicationType

<!DOCTYPE html>
<html>
<head>
    <title>Arcadia Assistant</title>
</head>
<body>
    <div>
        @Html.ActionLink(
            "Download for Android",
            "GetFile",
            new { applicationType = ApplicationType.Android })
    </div>
    <div>
        @Html.ActionLink(
            "Download for iOS",
            "GetFile",
            new { applicationType = ApplicationType.Ios })
    </div>
</body>
</html>