<!DOCTYPE html>
<html>
<head>
    <title>Arcadia Assistant</title>
</head>
<body>
    <div>
        @Html.ActionLink("Download for Android", "GetAndroid")
    </div>
    <div>
        <a href="itms-services://?action=download-manifest&url=@Url.Link("get-ios-manifest", null)">Download for iOS</a>
    </div>
</body>
</html>