@model Arcadia.Assistant.Web.Models.DownloadWebModel

<!DOCTYPE html>
<html>
<head>
    <title>Arcadia Assistant</title>
</head>
<body>
    <div>
        <a href="@Url.Content(Model.AndroidDownloadPath)" target="_blank">Download for Android</a>
    </div>
    <div>
        <a href="@Url.Content(Model.IosDownloadPath)" target="_blank">Download for iOS</a>
    </div>
</body>
</html>