<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientId" value="1062739689789-7k7r7340tii3mb5gksf4v7l8fa8djoga.apps.googleusercontent.com" />
    <add key="ClientSecret" value="tNKb8OCUQqQVbXqHWshp-yj-" />
    <add key="EmailSenderName" value="From" />
    <add key="EmailSenderAddress" value="testforproject123456@gmail.com" />
    <add key="EmailReceiverName" value="To" />
    <add key="EmailReceiverAddress" value="testforproject123456@gmail.com" />
  </appSettings>
</configuration>