<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="Security">
    <Parameter Name="ClientId" Value=""/>
    <Parameter Name="AuthorizationUrl" Value=""/>
    <Parameter Name="TokenUrl" Value=""/>
    <Parameter Name="OpenIdConfigurationUrl" Value=""/>
  </Section>
  <Section Name="Links">
    <Parameter Name="HelpLink" Value=""/>
  </Section>
  <Section Name="Ssl">
    <Parameter Name="SslOffloading" Value="false"/>
  </Section>
  <Section Name="Logging">
    <Parameter Name="ApplicationInsightsKey" Value=""/>
  </Section>
</Settings>
