<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arcadia.Assistant.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        html {
            height: 100%;
        }

        body {
            margin: 8px;
            width: calc(100% - 16px);
            display: flex;
            flex-direction: column;
        }

        a, a:visited {
            color: rgb(0, 0, 238);
        }

        content {
            flex: 1 0 auto;
        }

        .logo {
            width: 100%;
            max-width: 384px; /* Image width */
        }

        .download-block {
            display: inline-block;
        }

        .download-block img {
            width: 100%;
        }
        
        .container {
            margin: 0;
            margin-top: 30px;
            padding: 0;
        }

        .another-application-link {
            margin-top: 20px;
            font-size: 20px;
            text-align: center;
        }

        .help-link {
            margin-top: 20px;
            font-size: 20px;
        }

        @@media screen and (min-width: 500px) {
            content {
                margin-top: 30px;
            }
        }
    </style>
</head>
<body>
    <header>
        <img class="logo" src="~/images/arcadia_logo.svg" />
    </header>
    <content class="container">
        <partial name="_CookieConsentPartial" />
            @RenderBody()
    </content>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
