<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arcadia.Assistant.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

        html {
            height: 100%;
        }

        body {
            margin: 8px;
            width: calc(100% - 16px);
            display: flex;
            flex-direction: column;
        }

        a, a:visited {
            color: rgb(0, 0, 238);
        }

        content {
            flex: 1 0 auto;
        }

        .logo {
            width: 100%;
            max-width: 384px; /* Image width */
        }

        .download-block {
            display: inline-block;
        }

        .download-block img {
            width: 100%;
        }
        
        .container {
            margin: 0;
            margin-top: 30px;
            padding: 0;
        }

        .another-application-link {
            margin-top: 20px;
            font-size: 20px;
            text-align: center;
        }

        .help-link {
            margin-top: 20px;
            font-size: 20px;
        }

        @@media screen and (min-width: 500px) {
            content {
                margin-top: 30px;
            }
        }
    </style>
</head>
<body>
    <header>
        <img class="logo" src="~/images/arcadia_logo.svg" />
    </header>
    <content class="container">
        <partial name="_CookieConsentPartial" />
            @RenderBody()
    </content>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
