@model HomeViewModel

<style>
    @@media screen and (max-width: 499px) {
        .android-content {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            margin-top: 30px;
            width: 100%;
        }
    }

    .version {
        text-align: right;
        width: 100%;
    }
</style>

<div class="android-content">
    <div class="download-block">
        <div>
            <a href="@Url.Action("GetAndroid", "GetFileWeb")">
                <img src="~/images/download_android.svg" alt="Download for Android"/>
            </a>
            <div class="version">Version:&nbsp; @Model.Version &nbsp;</div>
        </div>
        <div class="another-application-link">
            @Html.ActionLink("Not an Android?", "Index", "DownloadIosWeb")
        </div>
        <div class="help-link">
            <a href="@Model.HelpLink" target="_blank">Read Usage Guide</a>
        </div>
    </div>
</div>