<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="Logging">
    <Parameter Name="ApplicationInsightsKey" Value="" />
  </Section>
  <Section Name="WorkHoursCreditCreated">
    <Parameter Name="Subject" Value="" />
    <Parameter Name="Title" Value="" />
    <Parameter Name="ShortBodyTemplate" Value="" />
    <Parameter Name="LongBodyTemplate" Value="" />
  </Section>
  <Section Name="WorkHoursCreditApproveRequire">
    <Parameter Name="Subject" Value="" />
    <Parameter Name="Title" Value="" />
    <Parameter Name="ShortBodyTemplate" Value="" />
    <Parameter Name="LongBodyTemplate" Value="" />
  </Section>
  <Section Name="WorkHoursCreditApproved">
    <Parameter Name="Subject" Value="" />
    <Parameter Name="Title" Value="" />
    <Parameter Name="ShortBodyTemplate" Value="" />
    <Parameter Name="LongBodyTemplate" Value="" />
  </Section>
  <Section Name="WorkHoursCreditCancelled">
    <Parameter Name="Subject" Value="" />
    <Parameter Name="Title" Value="" />
    <Parameter Name="ShortBodyTemplate" Value="" />
    <Parameter Name="LongBodyTemplate" Value="" />
  </Section>
</Settings>
